body{
    background-color: black;
}
#main-container{
    background-color: coral;
    width: 600px;
    height: 700px;
    text-align: center;
    border: 2px solid rgb(235, 86, 33);
    border-radius: 2%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
#main-container img{
    width: 550px;
    padding-top: 25px;
}

.winner{
    color: green;
}
.loser{
    color: red;
}

#button1{
    background-color: greenyellow;
}
#button2{
    background-color: blue;
}
#resetButton{
    background-color: red;
}