body{
    background-color: black;
}
#main-container{
    background-color: coral;
    width: 600px;
    height: 700px;
    text-align: center;
    margin: auto;
    border: 2px solid rgb(235, 86, 33);
    border-radius: 2%;
}
#main-container img{
    width: 550px;
    padding-top: 25px;
}

.winner{
    color: green;
}
.loser{
    color: red;
}